@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500&display=swap");

:root {
  --primary-color: #991b1b;
  --dark-gray: #6b7280;
  --off-white: #f3f4f6;
}
body {
  font-family: "STIX Two Text", serif;
  margin: 0px;
  font-size: 1.2rem;
}
a {
  cursor: pointer;
}
hr {
  margin: 3rem 0rem;
}
/** container **/
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}
/** links**/
.link {
  display: block inline;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
}
.link--selected {
  background-color: #f5f6fa;
  color: #6b2210;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  border-top-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  color: white;
}
.link-secondary {
  color: var(--primary-color);
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  border: 1px solid var(--primary-color);
}
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
/** navigation **/
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 0.1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.2rem;
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .link {
  color: white;
}
.navigation .link-active {
  font-weight: bold;
}
/** heading**/
.hero {
  padding: 2rem;
}
.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}
.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--dark-gray);
}
.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}
/** section **/
.section {
  padding: 2rem;
}
.section h1 {
  text-align: center;
}
.ow {
  background-color: var(--off-white);
}
.bw {
  background-color: burlywood;
}

/** footer**/
footer {
  background-color: var(--primary-color);
  padding: 1.5rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.footer .link {
  color: white;
}
.footer .footer-header {
  font-weight: bold;
  font-size: large;
}
.footer ul {
  padding-inline-start: 0px;
}

.social-img {
  width: 25px;
  height: 25px;
}
